body {
  box-sizing: border-box;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: gray;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cancel-button {
  width: 20px;
  height: 20px;
  align-self: flex-start;
}

.modal-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
